.formHeader{
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisor{
  margin: 0 auto;
  width: 80%;
  box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.1);
}

section{
  margin: .5rem auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.typeCheck{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.groupAddress{
  margin: 1rem auto;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,2);
}